SMTP_HOST=smtp-relay.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_HELO=example.org
SMTP_FROM_NAME=Notifier
SMTP_FROM=notifier@example.org
SMTP_TLS_MODE=starttls
MAIL_TO=you@example.org
MAIL_SUBJECT=gotification email test
MAIL_BODY=Hello from gotification email example.
