# Logs will be written to:
#   <LOG_FOLDER>/webhook/default.log
#   <LOG_FOLDER>/telegram/default.log
LOG_FOLDER=./logs

# Webhook call will be mocked in this example
WEBHOOK_URL=https://example.com/hooks/mock
WEBHOOK_MESSAGE=This webhook send is MOCKED.

# Telegram call will be real in this example
TELEGRAM_BOT_TOKEN=123456789:your-telegram-bot-token
TELEGRAM_CHAT_ID=123456789
TELEGRAM_MESSAGE=This telegram send is REAL.
